* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.25rem;
}

body {
    display: grid;
    background-image: url(./resources/img/bg-page.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed
}

main {
    display: flex;
    justify-content: center;
}

nav.topnav {
    background-color: hsla(0, 0%, 0%, 0.95);
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    padding: 1rem 2.5rem;
    border-bottom: 1px solid white;
    z-index: 1;
    top: 0;
}

nav img {
    height: 4rem;
}

.content {
    display: grid;
    align-content: space-around;
    border-radius: 1rem;
    max-width: 102.4rem;
    min-width: 30rem;
    margin: 8rem 2.5rem 2.5rem;
    padding: 1rem;
    background-color: hsla(0, 0%, 0%, 0.66);
    backdrop-filter: blur(1.5rem);
    text-align: center;
}

.musica {
    display: grid;
}

.boxMusic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.coverAlbum {
    width: 100%;
}

.albumEmergentes {
    position: relative;
}

.darkCover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.66);
    display: grid;
    justify-content: center;
    align-items: center;
}

.darkCover h2 {
    font-size: 1.25rem;
    text-decoration: underline;
}

.tituloAlbum {
    font-size: 1.25rem;
}

.card {
    display: grid;
    background-color: rgba(0, 0, 0, 0.66);
    padding: 2rem;
    border-radius: 2rem;
    align-content: center;
}

.b-musica {
    align-content: flex-start;
}

.cardTitle,
.areaBotones {
    margin-bottom: 2.5rem;
}

.areaBotones {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1px 1fr;
    gap: 1.5rem;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
}

.botones.activo {
    background-color: #FFF;
    color: #000;
}

.divider {
    background-color: rgba(255, 255, 255, 0.5);
}

.sectionTitle {
    margin: 2rem;
}

.listaMusica {
    max-height: 480px;
    overflow-y: auto;
}

.listaDisponibles,
.listaProximos {
    gap: 1rem;
}

.single {
    display: grid;
    grid-template-columns: 10% 1fr 50%;
    gap: 1rem;
    text-align: start;
    align-items: center;
}

.single img {
    width: 100%;
}

.musicData{
    display: grid;
    gap: .5rem;
}

.plataformas {
    display: flex;
    justify-content: space-around;
}

.listaDisponibles {
    display: grid;
}

.listaProximos {
    display: none;
}

.trabajando {
    margin: 2rem auto;
    text-decoration: underline;
}

.redessociales {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem auto;
}

i {
    font-size: 3rem;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .boxMusic {
        display: grid;
        grid-template-columns: 1fr;
    }

    i {
        font-size: 2rem;
    }
}
